<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="watchDogConfigurationSection" type="WatchDogService.Configuration.WatchDogConfigurationSection, WatchDogService"/>
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <watchDogConfigurationSection>
    <Watchers>
      <add Type="WatchDogService.Watchers.WindowsServiceWatcher, WatchDogService" ServiceNameToMonitor ="asdasdsad" Name="Temas watcher" RefreshTimeInSeconds="35">
        <ContingenceActionsSection>         
          <add Name="Log file 2" Type="WatchDogService.ContingenceActions.LogFileAction, WatchDogService" FileName="C:\Users\jcerve14\Desktop\LogY.txt" MessageLayout="%date: %name is not working at all"></add>
          <add Name="Console Log" Type="WatchDogService.ContingenceActions.ConsoleAction, WatchDogService" MessageLayout="%date - Console message: %name is not working"></add>
        </ContingenceActionsSection>
      </add>

    </Watchers>

  </watchDogConfigurationSection>

</configuration>