<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="watchDogConfigurationSection" type="WatchDog.Configuration.WatchDogConfigurationSection, WatchDog"/>
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <watchDogConfigurationSection>
    <Watchers>

      <Watcher Type="WatchDog.Watchers.WindowsServiceWatcher, WatchDog" ServiceNameToMonitor ="asdasdsad" Name="Temas watcher" RefreshTimeInSeconds="10">
        <ContingenceActionsSection>
          <Action Name="Log file action" Type="WatchDog.ContingenceActions.LogFileAction, WatchDog" FileName="C:\Users\jcerve14\Desktop\LogY.txt" MessageLayout="%date: %name is not working at all"></Action>
          <Action Name="Console Log action" Type="WatchDog.ContingenceActions.ConsoleAction, WatchDog" MessageLayout="%date - Console message: %name is not working"></Action>
        </ContingenceActionsSection>
      </Watcher>

      <Watcher Type="WatchDog.Watchers.HostWatcher, WatchDog" HostAddress ="192.0.0.1" Name="host watcher 1" RefreshTimeInSeconds="20">
        <ContingenceActionsSection>
          <Action Name="Console Log action 2" Type="WatchDog.ContingenceActions.ConsoleAction, WatchDog" MessageLayout="%date - Console message: %name is not up and running"></Action>
        </ContingenceActionsSection>
      </Watcher>

      <Watcher Type="WatchDog.Watchers.HostWatcher, WatchDog" HostAddress ="192.0.0.89" Name="host watcher 2" RefreshTimeInSeconds="23">
        <ContingenceActionsSection>
          <Action Name="Console Log action 3" Type="WatchDog.ContingenceActions.ConsoleAction, WatchDog" MessageLayout="%date - Console: %name is not up and running"></Action>
        </ContingenceActionsSection>
      </Watcher>

    </Watchers>
  </watchDogConfigurationSection>

</configuration>